{% extends "index.html" %}
{% block menu %}其他管理{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static",filename="admin.css") }}" type="text/css"/>
{% endblock %}

{% block content %}
    <ul class="list-group">
        <li class="list-group-item">
                {{ form.submit5(class="btn btn-success btn-submit btn_next") }}
        </li>
    </ul>
{% endblock %}


{% block scripts %}
    $(document).ready(function () {
    $(".btn.nohrefBtn").click(function () {
    if (!confirm("确认提交吗?")) return false;
    })
    $(".btn.btn_next").click(function () {
    if (!confirm("确认清算吗?")) return false;
    })
    });
{% endblock %}

{#todo:添加使用说明#}
{% block introduction %}
    请勿留空提交
{% endblock %}