{% extends "bootstrap/base.html" %}
{% block head %}
	{{super()}}
	<link rel="shortcut icon" href="{{url_for('static',filename='itp.ico')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css"/>	
	<link rel="stylesheet" href="{{url_for('static',filename='buttons.css')}}" type="text/css"/>
{% endblock %}
{% block title %}Warming Up - ITP{% endblock %}

{% block content %}

		<div  id="logo"><img src="{{url_for('static',filename='logo.png')}}"</div>



    <div class="row">
        <div class="col-md-3 account">  <!--账户信息，显示现金、仓储等情况-->		
			<div class="info-heading">
						<h4 class="info-title">账户信息</h4>
					</div>
			<div class="info-body">
				 <table class="table">
					 		<tr>
								<td>现金</td>
								<td><span class="totalmoney">{{ Accountdata["cash"] }}</span>万元</td>
							</tr>
					 		{% if Accountdata["type"]==0 %}
					 			<tr>
									<td>生产系数k</td>
									<td><span class="totalmoney">{{ Accountdata["produce_k"] }}</span></td>
								</tr>
								{% for material in Accountdata["material"] %}
					 				{% if material[2] != 0 %}
					 				<tr>
										<td>----------</td>
										<td></td>
									</tr>
									<tr>
										<td>所在市场</td>
										{% if material[0] == 0 %}
										<td><span class="resource">南方市场</span></td>
										{% endif %}
										{% if material[0] == 1 %}
										<td><span class="resource">北方市场</span></td>
										{% endif %}
										{% if material[0] == 2 %}
										<td><span class="resource">西方市场</span></td>
										{% endif %}
									</tr>
									<tr>
										<td>白酒成本</td>
										<td><span class="resource">{{ material[1] }}</span>元</td>
									</tr>
					 				<tr>
										<td>白酒质量</td>
										<td><span class="resource">{{ material[3] }}</span>元</td>
									</tr>
									<tr>
										<td>数量</td>
										<td><span class="resource">{{ material[2] }}</span>万单位</td>
									</tr>
					 				{% endif %}
								{% endfor %}
					 		{% endif %}
							{% if Accountdata["type"]==1 %}
								{% for chip in Accountdata["chip"] %}
					 				{% if chip[2] != 0 %}
					 				<tr>
										<td>----------</td>
										<td></td>
									</tr>
									<tr>
										<td>所在市场</td>
										{% if chip[0] == 0 %}
										<td><span class="resource">南方市场</span></td>
										{% endif %}
										{% if chip[0] == 1 %}
										<td><span class="resource">北方市场</span></td>
										{% endif %}
										{% if chip[0] == 2 %}
										<td><span class="resource">西方市场</span></td>
										{% endif %}
									</tr>
									<tr>
										<td>白酒质量</td>
										<td><span class="resource">{{ chip[3] }}</span>元</td>
									</tr>
									<tr>
										<td>数量</td>
										<td><span class="resource">{{ chip[2] }}</span>万单位</td>
									</tr>
					 				{% endif %}
								{% endfor %}
							{% endif %}
						</table>
			</div>        		
			<!--<div class="info-heading">-->
						<!--<h4 class="info-title">贷款情况</h4>-->
			<!--</div>-->
			<!--<div class="debt info-body">-->
				<!--<ul>-->
					<!--{% for loan in Accountdata["loan"] %}-->
							<!--{% if loan[0] %}   &lt;!&ndash;金额不为0&ndash;&gt;-->
								<!--<li>-->
								<!--{% if loan[0]>0 %}借出：{% else %}借得：{% endif %}-->
								<!--{{ loan[3] }}号公司-->
								<!--{{ loan[0]|abs }}万元，第{{ loan[2] }}轮归还，利息为{{ loan[1]*100 }}%</li>-->
							<!--{% endif %}-->
						<!---->
					<!--{% endfor %}						-->
				<!--</ul>-->
			<!--</div>-->

		</div>
        <div class="col-md-6 operationzone">
			{% for message in get_flashed_messages() %}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>				
				{{ message }}	
			</div>	
			{% endfor %}
			{% if game_round!=6 %}
			<div class="info-heading" id="op-head"><h4 class="info-title">用户操作面板 第{{ game_round }}轮</h4></div>
			{% else %}
			<div class="info-heading" id="op-head"><h4 class="info-title">游戏结束</h4></div>
			{% endif %}
			<br>
			<button type="button" class="btn btn-primary bill pull-right" data-container="body" data-toggle="popover" data-placement="right">查看上轮清算环节账单</button>	
			<ul role="navigation" class="nav nav-tabs">
				{% if Accountdata['type']==0 %}
				<li role="presentation" class="active" id="tab01"><a href="#">研发投入</a></li>
				<li role="presentation" id="tab02"><a href="#">原料生产</a></li>
				{% endif %}
				{% if Accountdata['type']==1 %}
				<li role="presentation" class="active" id="tab01"><a href="#">广告投入</a></li>
				<li role="presentation" id="tab02"><a href="#">投放市场</a></li>
				{% endif %}
			</ul>
			{% if Accountdata["type"]==0 %}
			<div class="caigou"><br>
				<form method="POST" name="op-form">
					{{ Yanfaform.hidden_tag()}}
					<div class="form-group">
						{{ Yanfaform.research_amount.label }}
						{{ Yanfaform.research_amount(class="form-control buyamount")}}
						<!--<p class="help-block">总价：<span class="totalpay">1000</span>万元</p>     --> <!--可以定义函数--> <!--多买会降价 还没做-->
						<!-- <p class="help-block">现金余额：<span class="moneyleft">1000</span>万元</p> --> <!--待修改-->
					</div>
					<p class="help-block">温馨提醒：请预留足够现金用于支付原料储存费等。</p>
					<div class="confirmbtn">
						{{ Yanfaform.submit(class="btn btn-primary btn-submit")}}
					</div>
				</form>
			</div>
			<div class="shengchan"><br>
				<form method="POST" name="op-form">
					{{ Shengchanform.hidden_tag()}}
					<div class="form-group">
						{{ Shengchanform.position.label }}
						{{ Shengchanform.position(class="form-control")}}

						{{ Shengchanform.produceamount.label }}
						{{ Shengchanform.produceamount(class="form-control")}}

						{{ Shengchanform.produceprice.label }}
						{{ Shengchanform.produceprice(class="form-control")}}
						<!--<p class="help-block">总价：<span class="totalpay">1000</span>万元</p>     --> <!--可以定义函数--> <!--多买会降价 还没做-->
						<!-- <p class="help-block">现金余额：<span class="moneyleft">1000</span>万元</p> --> <!--待修改-->
						<!--<p class="help-block">温馨提醒：请预留足够现金用于支付原料储存费等。</p>-->
					</div>
					<div class="confirmbtn">
						{{ Shengchanform.submit(class="btn btn-primary btn-submit")}}
					</div>
				</form>
			</div>
			{% endif %}
			{% if Accountdata["type"]==1 %}
			<div class="caigou" ><br>
				<form method="POST" name="op-form">
					{{ Xiaoshouform.hidden_tag()}}
					<div class="form-group">
						{{ Xiaoshouform.investamount_south.label }}
						{{ Xiaoshouform.investamount_south(class="form-control buyamount")}}

						{{ Xiaoshouform.investamount_north.label }}
						{{ Xiaoshouform.investamount_north(class="form-control buyamount")}}

						{{ Xiaoshouform.investamount_west.label }}
						{{ Xiaoshouform.investamount_west(class="form-control buyamount")}}
						<!--<p class="help-block">总价：<span class="totalpay">1000</span>万元</p>     --> <!--可以定义函数--> <!--多买会降价 还没做-->
						<!-- <p class="help-block">现金余额：<span class="moneyleft">1000</span>万元</p> --> <!--待修改-->
						<!--<p class="help-block">温馨提醒：请预留足够现金用于支付原料储存费等。</p>-->
					</div>
					<div class="confirmbtn">
						{{ Xiaoshouform.submit(class="btn btn-primary btn-submit")}}
					</div>
				</form>
			</div>
			<div class="shengchan"><br>
				<form method="POST" name="op-form">
					{{ Shengchanform.hidden_tag()}}
					<div class="form-group">
						{{ Shengchanform.position.label }}
						{{ Shengchanform.position(class="form-control")}}

						{{ Shengchanform.producequality.label }}
						{{ Shengchanform.producequality(class="form-control")}}

						{{ Shengchanform.sellprice.label }}
						{{ Shengchanform.sellprice(class="form-control")}}
						<!--<p class="help-block">总价：<span class="totalpay">1000</span>万元</p>     --> <!--可以定义函数--> <!--多买会降价 还没做-->
						<!-- <p class="help-block">现金余额：<span class="moneyleft">1000</span>万元</p> --> <!--待修改-->
						<!--<p class="help-block">温馨提醒：请预留足够现金用于支付原料储存费等。</p>-->
					</div>
					<div class="confirmbtn">
						{{ Shengchanform.submit(class="btn btn-primary btn-submit")}}
					</div>
				</form>
			</div>
			{% endif %}



		</div>
		<div class="log pull-right">
                <div class="info-heading">
					 <h4 class="info-title">清算信息</h4>
				</div>
				<div class="info-body">
					<table class="table">
						<tr>
                            <td>清算前资金</td>
                            <td>{{ Thislog["init_money"] }}万元</td>
                        </tr>
						{% if Accountdata["type"] == 1 %}
						<tr>
                            <td>南方销售收益</td>
                            <td>{{ Thislog["south_gain_sell"] }}万元</td>
                        </tr>
						<tr>
                            <td>北方销售收益</td>
                            <td>{{ Thislog["north_gain_sell"] }}万元</td>
                        </tr>
						<tr>
                            <td>西方销售收益</td>
                            <td>{{ Thislog["west_gain_sell"] }}万元</td>
                        </tr>
						{% endif %}

						{% if Accountdata["type"] == 0 %}
						<tr>
                            <td>折旧费</td>
                            <td>-{{ Thislog["depreciation"] }}万元</td>
                        </tr>
						{% endif %}
						<!--<tr>-->
                            <!--<td>库存仓储费</td>-->
                            <!--<td>-{{ Thislog["storage"] }}万元</td>-->
                        <!--</tr>-->
						<!--<tr>-->
                            <!--<td>贷款</td>-->
                            <!--<td>{{ Thislog["loan"] }}万元</td>-->
                        <!--</tr>-->
					</table>
				</div>
			
		</div>
    </div>

	<div class="footerRight pull-right"><p>浙江大学创新与创业管理强化班 © 2016</p></div>
	<div class="background"><img src="{{url_for("static",filename="back.png")}}"</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static',filename='user.js')}}"></script>   
{% endblock %}